/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/materialicons/v139/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
  }

  #searchbtn{
    padding: 6px 5px 0px 5px;

}

.searcharea {
    background-color: #4488c8;
    padding: 20px;
}

.navbar-brand{
    font-size: 30px;
}

